@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;900&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  background-color: #5F81B2;
}

.container {
  width: 1030px;
}

.header {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 900;
  font-size: 60px;
  line-height: 55px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.title-list {
  margin-top: 86px;
  margin-bottom: 36px;
  font-weight: 900;
  font-size: 22px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.title-author {
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.btn {
  height: 40px;
}

.btn-create-task {
  margin-top: 10px;
  background-color: #F5D57F;
  width: 287px;
  font-size: 16px;
  line-height: 22px;
}

.modal-content {
  background-color: #FFFBE3;
}

.modal-header {
  border-bottom: none;
}

#saveTask, #btnEditTask {
  background-color: #5F81B2;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.btn-cancel {
  background-color: #AEAEAE;
  color: #FFFFFF;
}

.form-group {
  margin-bottom: 17px;
}

h3 {
  font-weight: 900;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.task-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.task-item {
  display: flex;
  width: 490px;
  justify-content: space-between;
  padding: 15px;
  background-color: #fFFBE3;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.task-leftside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon-check {
  content: '';
  width: 20px;
  height: 20px;
  background-image: url(./images/checkbox.svg);
  background-size: cover;
  display: inline-block;
}

.delete-task {
  content: '';
  width: 20px;
  height: 20px;
  background-image: url(./images/delete-task.svg);
  background-size: cover;
  display: inline-block;
}

.task-edit {
  display: flex;
  align-items: center;
  color: #2A5B94;
  text-decoration: underline;
}

.icon-edit {
  content: '';
  width: 20px;
  height: 20px;
  background-image: url(./images/edit.svg);
  background-size: cover;
  display: inline-block;
}

.delete-task:hover {
  cursor: pointer;
}

.task-edit:hover {
cursor: pointer; 
}

#modalDeleteTask {
  margin-bottom: 10px;
}

/* modal style  */


@media (min-width: 0) and (max-width: 576px) {
  .container {
      width: 100%;
      display: block;
  } 

  .header {
    display: block;
  }

  .title-list {
    margin-top: 31px;
    margin-bottom: 20px;
  }

  .task-list {
    display: block;
  }

  .task-item {
    width: 100%;
    margin-bottom: 20px;
  }